@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
--cor0:#F2EEEB;
--cor1:#D9CBBF;
--cor2:#8C6249;
--cor3:#73694D;
--cor4:#564C46;

--font-padrao: 'nunito', sans-serif;
--font-primaria: 'bellota text', 'cursive';
--font-secundaria: 'montserrat', 'cursive';
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--cor4);
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 170px;
}
section{
    background-image: url(foto/coluna-fundo-dra-2.png);
    background-size: cover;
    min-height: 73.1vh;
    background-position: top;
    display: flex;
}
#area{
    background-color: var(--cor1);
    width: 450px;
    margin: 20px;
    border-radius: 20px;
    margin-left: 5%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774);
}
#menu{
    background-color: var(--cor4);
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;    
}
#menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: var(--font-secundaria);
    font-size: 80%;
}
#menu a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
    text-align: center;
    padding: 13px 0px;
}
#menu a:hover, #menu a:focus {
    text-decoration: none;
    background-color: var(--cor0);
    color: black;
    flex-grow: 1;
    text-align: center;
}
#inicio:hover,#inicio:focus{
    border-radius: 15px 0px 0px 0px;
}
#fim:hover,#fim:focus{
    border-radius: 0px 15px 0px 0px;
}
#tudo{
    font-family: var(--font-padrao);
    font-size: 90%;
    margin: 10px 15px;
    text-indent: 15px;
    display: flex;
    text-align: justify;
}
#tudo img{
    vertical-align: middle;
    padding-bottom: 2px;
}
#quiroimg{
    float: right;
    width: 55px;
    margin: 0px 0px 0px 10px;
}
strong{
   color: rgb(3, 85, 3); 
}
footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 4px;
    font-family: var(--font-padrao);
}
#logoc{
    display: flex;
    width: 75vw;
    max-height: 200px;
}
#logom, #logop,.libe{
    display: none;
}
@media(max-width:583px){
    #logoc{
        display: none;
    }
    section{
        min-height: 73.1vh;
    }
    #logop{
        display: none;
    }
    #logom{
        display: block;
        width: 60vw;
        max-height: 200px;
    }
    #menu{
        background-color: var(--cor4);
        width: 350px;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
    }
    #area{
        background-color: var(--cor1);
        width: 350px;
        margin: 20px;
        border-radius: 20px;
    }
    .libem{
        display: none;
    }
    .libe{
        display: block;
    }
    #quiroimg{
        display: none;
    }
    #libeimg{
        display: none;
    }
}